 
body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9; /* Light gray background */
        color: #333;
    }

header {
        background-color: #0ea03e; /* Coral color */
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    main {
        padding: 20px;
    }

   section {
        margin-top: 20px;
    }

    h2 {
        color: #23ac1e; /* Coral color */
    }

    p {
        line-height: 1.6;
    }

@media only screen and (max-width: 2560px) {
    .video-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* –аспределение видеороликов по четыре в строке */
    }
    .video-container {
        width: 25%;
        margin-bottom: 10px; /* ќтступ снизу дл€ создани€ пространства между р€дами видеороликов */}

@media only screen and (max-width: 1440px) {
    .video-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* –аспределение видеороликов по четыре в строке */
    }
    .video-container {
        width: 23%;
        margin-bottom: 10px; /* ќтступ снизу дл€ создани€ пространства между р€дами видеороликов */}

@media only screen and (max-width: 1024px) {
    .video-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* –аспределение видеороликов по четыре в строке */
    }
    .video-container {
        width: 24%; /* Ўирина контейнера равна около четверти ширины экрана */
        margin-bottom: 20px;
    }
    .video {
        width: 100%;
        height: auto;
    }
    .video-caption {
        font-size: 16px;
        text-align: center; /* ¬ыравнивание текста по центру */
    }
}


@media only screen and (max-width: 768px) {
    .video-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* –аспределение видеороликов по три в строке */
    }
    .video-container {
        width: 32%; /* Ўирина контейнера равна около трети ширины экрана */
        margin-bottom: 20px;
    }
    .video {
        width: 100%;
        height: auto;
    }
    .video-caption {
        font-size: 16px;
        text-align: center; /* ¬ыравнивание текста по центру */
    }
}


@media only screen and (max-width: 640px) {
    .video-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* –аспределение видеороликов по два в строке */
    }
    .video-container {
        width: 48%; /* Ўирина контейнера равна половине ширины экрана */
        margin-bottom: 20px;
    }
    .video {
        width: 100%;
        height: auto;
    }
    .video-caption {
        font-size: 16px;
        text-align: center; /* ¬ыравнивание текста по центру */
    }
}

@media only screen and (max-width: 480px) {
    header {
        padding: 10px 0;
    }
    
    main {
        padding: 10px;
    }
    
    .video-row {
        display: block;
    }
    
    .video-container {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .video {
        width: 100%;
        height: auto;
    }
    
    .video-caption {
        font-size: 14px;
    }
}

 



@media only screen and (max-width: 320px) {
    header {
        padding: 5px 0;
    }
    
    main {
        padding: 10px;
    }
    
    .video-row {
        display: block;
    }
    
    .video-container {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .video {
        width: 100%;
        height: auto;
    }
    
    .video-caption {
        font-size: 12px;
    }
}

 
 